/*----- ----- For mobile phones: ----- -----*/

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(129, 129, 129, 0.932);
    color: white;
    background-color: #fa4166;
}

button:hover{
    background-color: #FFB7C5;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:red; }

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: red;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

.nav-brand {
    width: 50px;
  }

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #fa4166;
}


#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.5em;
}

#Cultura .container{
    text-align: center;
    padding: 200px 12px;
}

#Gastronomia{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#Gastronomia .container{
    padding: 150px 12px;
}

#Gastronomia h2{
    margin-top: 0;
    font-size: 2.7em;
}

#Gastronomia p{
    display: none;
}

#Gastronomia .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/cards1.png);

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/cards2.png)
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(/media/cards3.png)

}
#Contactame{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(161, 156, 156, 0.5),
        rgba(143, 136, 136, 0.5)
    )
  ,url(/media/showcase.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Contactame h2{
    font-size: 6vw;
}

#Contactame button{
    font-size: 4vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 20px;
    font-size: 1em;
    color: rgb(100,100,100);
}

footer .container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* ----- -----  Mediaqueries ----- ----- */
/* Tablet */

@media (min-width: 768px)
{

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero{
        height: 90vh;
    }

    #hero h1{
        font-size: 3em;
    }

    #hero button{
        font-size: 1em;
    }

    #Cultura .container{
        display: flex;
        justify-content: space-evenly;
        padding: 2em ;
    }

    #Cultura .img-container{
        background-image: url(/media/shīsā.png);
        background-size: cover;
        background-position: center center;
        height: 450px;
        width: 300px; 
    }

     #Cultura .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }

    #Cultura h2{
        margin-top: 0px;
    }


    #Gastronomia .Gastronomia-Recetas{
        grid-template-columns: repeat(2, 1fr);
    
    }

    #Gastronomia p{
        display: block;
        margin-bottom: 20px;
        padding-top: 2em;
    }

    #Gastronomia h2{
        margin-top: 0;
        font-size: 2.6em;
    }

    #Gastronomia h3{
        margin-top: 0;
        font-size: 2em;
    }

    #Gastronomia .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(/media/mabodon2.jpg);

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(/media/cards2.png);
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url(/media/receta-Taiyaki.jpg);

    }
    #Contactame{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: rgb(30,30,30);
        color: white;
        height: 80vh;
    }
    
    #Contactame h2{
        font-size: 2.7em;
    
    }
    
    #Contactame button{
        font-size: 3vw;
    }

    footer p{
       padding: 20px;
       font-size: 1em;
     
    }
}



/* Portatil */
@media (min-width: 1024px) 
{
    #Gastronomia .Gastronomia-Recetas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        margin: 70px 0;
    }

    #Contactame button{
        font-size: 2vw;
    }
}